
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.small-square-card{
  animation: card-load 0.5s ease-in;
}

@keyframes card-load {
  from {
    transform: translateY(150%)
  }
  to {
    transform: translateY(0);
  }
}
